@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-image: url(../spooky-halloween-wallpaper-with-pumpkin-and-old-house-free-photo.jpg);
    background-size: cover;
    overflow: hidden;
}

.error {
  color: red;
}


.action .profile {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action .profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .container {
  position: relative;
  margin-top: 60px;
  width: 75%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.col-9 {
  width: 65%;
  margin: 5% auto;
  margin-bottom: -20px;
}

.col-9 .card {
  margin-bottom: 20px;
  position: relative;
  width: 100%;
  /* min-height: 400px; */
  display: inline-block;
  border: 1px solid rgba(7, 7, 7, 0.24);
}

.col-9 .card .top {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col-9 .card .top .userDetails {
  width: 100%;
  display: flex;
  align-items: center;
}

.profilepic {
  display: inline-block;
}

.profilepic .profile_img {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  width: 30px;
  height: 30px;
  background: linear-gradient(to right, red, orange);
  padding: 2px;
  margin-right: 8px;
}

.profilepic .profile_img .image {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin-top: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
}

.profilepic .profile_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 0 !important;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.col-9 .card .top .userDetails h3 {
  font-size: 16px;
  color: #4d4d4f;
  font-weight: 500;
  line-height: 1em;
  white-space: nowrap;
}

.col-9 .card .top .userDetails h3 span {
  font-size: 0.75em;
}

.col-9 .card .top .userDetails h3 span {
  font-size: 0.75em;
}

.dot {
  transform: scale(0.6);
  cursor: pointer;
}

.imgBx {
  position: relative;
  width: 100%;
  min-height: 600px;
  margin: 10px 0 15px;
}

.details {
  margin-top: 10px;
  font-weight: 400;
  color: #999;
}

.storyName {
  font-size: 20px;
  margin-left: 10px;
}

.date {
  font-size: 12px;
  margin-left: 10px;
}

.postTime {
  margin-top: 8px;
  font-weight: lighter;
  cursor: default;
  color: rgb(163, 163, 163);
  font-size: 12px;
  text-transform: uppercase;
}

#see-details {
  text-decoration: none;
}

#see-details h4 {
  font-weight: bold;
  margin: 10px;
}

#see-details h4:hover {
  color: black;
  text-decoration: underline;
}

.hidden {
  display: none;
}

.footer {
  text-align: center;
  margin-bottom: 20px;
}

.footer .footer-section {
  position: relative;
  width: 100%;
  font-size: 12px;
  font-family: sans-serif;
  z-index: -2;
}

.not-available-photo {
  text-align: center;
  font-size: 24px;
  margin: 100px;
  background-color: #ffdeefd2;
}

.not-available-photo h1 {
  border: 1px solid black;
  padding: 30px;
}

.not-available-photo {
  text-align: center;
  font-size: 24px;
  margin: 100px;
  background-color: #ffdeefd2;
}

.not-available-photo h1 {
  border: 1px solid black;
  padding: 30px;
}