body {
    background-image: url(../spooky-halloween-wallpaper-with-pumpkin-and-old-house-free-photo.jpg);
    background-size: cover;
    overflow: hidden;
}

.container {
    margin-top: 10em;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    margin-top: -5em;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 350px;
    height: 500px;
    box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.26);
}

.inner-box {
    position: relative;
    width: 100%;
    height: 100%;
}

.login {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    padding: 55px;
    box-sizing: border-box;
    backface-visibility: hidden;
}

.card h2 {
    font-family: Dancing Script;
    font-weight: bold;
    font-size: 44px;
    text-align: center;
    margin-bottom: 20px;
}

.input-box{
    width: 100%;
    background-color: transparent;
    border: 2px solid #fff;
    margin: 6px 0;
    height: 32px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    text-align: center;
    color: #F9841B;
    font-weight: bolder;
    font-size: 25px;
    font-family: Dancing Script;
}

::placeholder {
    color: #FFF;
    font-weight: bolder;
    font-size: 25px;
    font-family: Dancing Script;
}

button {
    width: 100%;
    background: transparent;
    font-weight: bolder;
    border: 2px solid #fff;
    margin: 35px 0 10px;
    height: 32px;
    font-size: 25px;
    font-family: Dancing Script;
    border-radius: 20px;
    color: #fff;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
}

.submit-btn {
    position: relative;
}

span {
    font-size: 20px;
    font-weight: bolder;
    color: #fff;
    font-family: Dancing Script;
}

a{
    font-size: 20px;
    font-weight: bolder;
    color: #F9841B;
    text-decoration: none;
    font-family: Dancing Script;
    margin: 45px;
}

a button {
    margin-left: -1.8em;
}