.story {
    display: flex;
    flex-wrap: wrap; /* Преход на елементите на следващия ред при достигане на максимален брой на ред */
    justify-content: space-between; /* Разпределя елементите равномерно по ширина на контейнера */
  }
  
  .story-container {
    width: calc(33.33% - 20px); /* Ширина на контейнера за история, която дава максимум три на ред */
    margin-bottom: 20px; /* Отстояние между контейнерите */
    padding: 15px; /* Вътрешни отстояния в контейнера */
    box-sizing: border-box; /* Включва padding и border в широчината на елемента */
  }
  
  .story-container h1 {
    text-align: center; /* Центрира заглавието на историята */
  }
  
  /* Стилове за етикетите и инпут полетата, може да се допълнят по ваше усмотрение */
  