.log {
  max-width: 400px;
  margin: 10em auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: black;
  color: #fff;
  text-align: center;
  font-family: sans-serif;
}

.log h1 {
  font-size: 40px;
  margin-bottom: 20px;
  color: #fff;
}

.log h2 {
  font-size: 25px;
  margin-bottom: 20px;
  color: #ccc;
}

#log {
  display: flex;
  flex-direction: column;
}

.log input {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid #fff;
  background-color: white; /* Промяна на фоновия цвят */
  color: black; /* Промяна на цвета на текста */
  font-size: 15px;
  font-family: "Dancing Script", sans-serif;
}

.sub-button,
.goToRegistration {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
  font-family: "Dancing Script", sans-serif;
}

.sub-button {
  background-color: #8b0000;
  color: white;
  border: 3px solid #8b0000;
}

.sub-button:hover {
  background-color: black;
  color: #8b0000;
}

.goToRegistration {
  background-color: black;
  color: #8b0000;
}

.goToRegistration:hover {
  background-color: #8b0000;
  color: white;
}
