.log {
  max-width: 400px;
  margin: 10em auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: black;
}
  
  .log h1 {
    text-align: center;
    color: #fff;
  }
  
  .log h2 {
    text-align: center;
    color: #666;
    margin-bottom: 20px; /* По-голямо разстояние отгоре и отдолу за подзаглавието */
  }
  
  #log {
    display: flex;
    flex-direction: column;
  }
.goToRegistration {
    align-items: center;
    text-align: center;
  }
  
  .log input {
    width: 100%;
    margin-bottom: 15px; /* Разстояние отгоре и отдолу за полетата за въвеждане */
    padding: 10px;
    box-sizing: border-box;
  }
  
  .sub-button {
    background-color: #4caf50;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .sub-button:hover {
    background-color: #45a049;
  }
  
  .goToRegistration {
    align-items: center;
    background-color: #2196F3;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .goToRegistration:hover {
    background-color: #0b7dda;
  }
      