.log {
  max-width: 400px;
  margin: 10em auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: black;
  color: #fff;
  text-align: center;
  font-family: sans-serif;
}

.log h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.log h2 {
  font-size: 25px;
  margin-bottom: 20px;
  color: #666;
}

#log {
  display: flex;
  flex-direction: column;
}

.log input {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid #fff;
  background-color: transparent;
  color: #F9841B;
  font-size: 25px;
  font-family: "Dancing Script", sans-serif;
}

.sub-button,
.goToRegistration {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
  font-family: "Dancing Script", sans-serif;
}

.sub-button {
  background-color: #4caf50;
  color: white;
}

.sub-button:hover {
  background-color: #45a049;
}

.goToRegistration {
  background-color: #2196F3;
  color: white;
}

.goToRegistration:hover {
  background-color: #0b7dda;
}
